extends layout

block layout-content
  div.View
    h1.Banner LOCATION - API
    div.Message
      div.Title.heading
        h3 The Best Api For Finding Cities in Nigeria
  each state in states 
    div.state.
      #{state.id}  
      #{state.name}


